<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
    <title>Your Weather | 404</title>
</head>

<body>
    {{>navbar}}
    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div  -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="https://image.freepik.com/free-vector/error-404-concept-illustration_114360-1811.jpg" alt="404 img" class="img-fluid">
                        </figure>
                    </div>
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <h1>404</h1>
                        <h2>Oops!, Web Page Not Found</h2>
                        <a href="/"><button  class="m-5">Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}

    {{>bsl}}

    {{!-- License --}}
    {{!-- All vectors and illustrations are created by freepik and are free for use under the Creative Commons Attribution
    license. --}}
    {{!-- <a href="https://www.freepik.com/vectors/website">Website vector created by stories - www.freepik.com</a> --}}
</body>

</html>