<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div  -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="https://image.freepik.com/free-vector/moonwalker-stopped-opposite-sign-404-error-cute-illustration-error-page-404-found_138353-35.jpg" alt="..." class="img-fluid">
                        </figure>
                    </div>
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <h1>404</h1>
                        <h2>Oops!, Web Page Not Found</h2>
                        <a href="/"><button  class="m-5">Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}

    {{>bsl}}
</body>

</html>